@page
@model PresentationLayer.Pages.Login.LoginModel
@{
}


<div class="container border" style="padding:20px">
    <form method="post">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Credentials.Username"></label>
            </div>
            <div class="col-5">
                <input type="text" asp-for="Credentials.Username" class="form-control"/>
            </div>
            <span class="text-danger" asp-validation-for="Credentials.Username"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Credentials.Password"></label>
            </div>
            <div class="col-5">
                <input type="password" asp-for="Credentials.Password" class="form-control"/>
            </div>
            <span class="text-danger" asp-validation-for="Credentials.Password"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <input type="submit" class="btn btn-primary" value="Login"/>
            </div>
        </div>
    </form>
</div>
